@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300;400;500;600;700;800;900&display=swap');

/* Theme Variables */
@theme {
    --color-primary: #FFC4C4;
    --color-secondary: #92487A;
    --color-accent: #432323;
    --font-main: 'Playfair', serif;
}