@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@theme{
    --color-primary: #FFC4C4;
    --color-secondary: #92487A;
    --color-accent: #432323;
    --font-main: 'Playfair', serif;
}
